.strapline {
    @include font-size(m);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 2rem;

    @include media-query(large) {
        @include font-size(l);
        line-height: 0.75;
        letter-spacing: -1px;
        flex-direction: row;
        align-items: center;
        margin-top: 4rem;
    }

    &__text {
        flex-shrink: 0;

        p {
            margin: 0;
        }
    }

    &__icon {
        @include font-size(l);
        flex-shrink: 0;
        margin-right: 0.2rem;
    }
}
