.strapline {
    @include font-size(m);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 2rem;
    line-height: 1.5;

    @include media-query(medium) {
        @include font-size(l);
        flex-direction: row;
        align-items: center;
        line-height: 0.75;
        letter-spacing: -1px;
    }

    &__text p {
        margin: 0;
    }

    &__icon {
        margin-right: 0.2rem;
    }
}
