.strapline {
    @include font-size(m);
    display: flex;
    flex-direction: row;
    line-height: 0.75;
    margin-bottom: 0;
    margin-top: 2rem;

    @include media-query(large) {
        @include font-size(l);
    }

    &__text p {
        margin: 0;
    }

    &__icon {
        margin-right: 0.2rem;
    }
}
