.container {
    padding: 0 2rem;
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    min-height: 100vh;
    padding-top: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
