.container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    color: inherit;

    @include media-query(large) {
        right: 0;
    }

    .cta {
        @include font-size(xs);
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;
        line-height: 1.2;
        font-weight: $weight--extrabold;

        @include media-query(large) {
            flex-direction: column;
        }

        &__tag {
            color: var(--color--accent);
            font-weight: inherit;
            margin: 0 0.1rem;

            @include media-query(large) {
                margin: 0;
            }
        }
    }
}
