.container {
    max-width: 800px;
}

.section {
    position: relative;
    margin: 4rem 0;
    line-height: 1.5;

    @include media-query(medium) {
        margin: 4rem;
    }

    > h2 {
        @include font-size(xxxl);
        font-weight: 900;
        line-height: 1;
        margin: 1.25rem 0;
        max-width: 224px;
    }

    &:before {
        content: '';
        position: absolute;
        top: -2rem;
        left: -2.5rem;
        width: 50px;
        border-color: var(--color--accent);
        border-style: solid;
        border-width: 3px;
        border-radius: 2px;
        transform: rotate(-3.58deg);

        @include media-query(medium) {
            top: 1rem;
            left: -4rem;
        }
    }
}
