.hero {
    margin: 0;

    @include media-query(large) {
        flex-direction: row;
        margin-top: 5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include media-query(large) {
            flex-direction: row;
        }
    }

    &__body {
        position: relative;
    }

    .logo {
        width: 53px;
        position: relative;
        margin: 3rem 0 3rem 1rem;

        @include media-query(large) {
            width: 81px;
            margin: 0;
            margin-left: calc(80px + 2rem);
        }

        &:before {
            content: 'Are we headless yet?';
            @include font-size(xxs);
            line-height: 1;
            font-weight: $weight--extrabold;
            position: absolute;
            top: -1.5rem;
            right: -1rem;
            left: -1.25rem;
            transform: rotate(-49.54deg);

            @include media-query(medium) {
                left: -1.25rem;
            }

            @include media-query(large) {
                top: -1rem;
                right: 0;
                left: -1rem;
            }
        }
    }

    &__title {
        @include font-size(xxxl);
        font-weight: $weight--extrabold;
        line-height: 1;
        letter-spacing: -1px;
        margin: 1rem 0;

        @include media-query(large) {
            @include font-size(xxxxl);
            margin: 2rem 0;
        }
    }

    &__text {
        @include font-size(m);
        font-weight: $weight--bold;
        line-height: 1.25;
    }

    &__status {
        width: 50px;
        flex-shrink: 0;

        @include media-query(large) {
            width: 80px;
            margin: 2rem;
            margin-left: 0;
        }
    }
}
