.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 5%;

    @include media-query(medium) {
        column-gap: 2%;
        margin-left: calc(-1.5rem - 171px);
        margin-right: max(-10rem, -1.5rem - 171px);
    }

    @include media-query(large) {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1%;
        margin-left: calc(-1.5rem - 213px);
        margin-right: max(-10rem, -1.5rem - 213px);
    }
}

.card {
    padding-bottom: 1rem;

    @include media-query(large) {
        padding: 0.5rem 1.75rem;
    }

    &__title {
        @include font-size(m);
        font-weight: $weight--extrabold;
        line-height: 1.25;
        margin: 0;

        a {
            color: inherit;
        }
    }

    &__body {
        @include font-size(s);
        line-height: 1.5;
        opacity: 0.7;
        margin-top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;

        @include media-query(large) {
            @include font-size(xxs);
        }
    }
}
