.container {
    &--topic-page {
        max-width: 600px;

        @include media-query(medium) {
            margin: 0 calc(2rem + 80px);
            max-width: 900px;
        }
    }
    &--home-page {
        @include media-query(medium) {
            margin-left: calc(1.5rem + 171px);
            margin-right: min(10rem, 1.5rem + 171px);
        }

        @include media-query(large) {
            margin-left: calc(1.5rem + 213px);
            margin-right: min(10rem, 1.5rem + 213px);
        }
    }
}

.text {
    line-height: 1.5;
    padding-bottom: 1rem;
}

.section {
    position: relative;
    line-height: 1.5;
    padding-bottom: 2rem;

    > h2 {
        @include font-size(xxxl);
        font-weight: $weight--extrabold;
        line-height: 1;
        margin: 1.25rem 0;
        max-width: 224px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 1rem;
        left: -4rem;
        width: 50px;
        border: 3px solid var(--color--accent);
        border-radius: 2px;
        transform: rotate(-3.58deg);
    }
}
