.container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: -1rem;

    @media (forced-colors: active) {
        display: none;
    }

    .switch {
        padding: 0;
        width: 52px;
        height: 28px;
        border: 0;
        overflow: hidden;
        position: relative;
        border-radius: 14px;
        background-color: var(--color--toggle-background);
        transition: 0.4s ease-out;
        cursor: pointer;

        .switch_slider {
            &::before {
                content: '';
                inset-inline-end: 28px;
                top: 4px;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                border-radius: 12px;
                box-shadow: inset 12px -8px 0 -5px var(--color--white);
                transition: inset-inline-end 0.25s ease-out;
            }

            &.light {
                &::before {
                    content: '';
                    inset-inline-end: 4px;
                    transition: inset-inline-end 0.25s ease-out;
                    box-shadow: unset;
                    background-color: var(--color--white);
                }
            }
        }
    }

    .switch_night {
        @include font-size(xxs);
        font-weight: $weight--extrabold;
        padding-right: 4px;

        &.light {
            opacity: 0.5;
        }
    }

    .switch_day {
        @include font-size(xxs);
        font-weight: $weight--extrabold;
        padding-left: 4px;
        opacity: 0.5;

        &.light {
            opacity: 1;
        }
    }
}
