@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/inter-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/inter-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/inter-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
