/* ============================================
    Media queries
*/
@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: nth($breakpoint, 1);
            $declaration: nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

/* ============================================
    Font sizes
*/

@mixin font-size($size) {
    @if $size == null {
        @warn 'Font size ‘#{$keyword}’ does not exist';
    } @else {
        font-size: map-get($small-font-sizes, $size);

        @include media-query(medium) {
            font-size: map-get($medium-font-sizes, $size);
        }

        @include media-query(large) {
            font-size: map-get($large-font-sizes, $size);
        }
    }
}
