$font--primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$breakpoints: ('medium' '(min-width: 600px)', 'large' '(min-width: 1023px)');

// Font sizes
$small-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 20px;

$font-sizes: (
    xxxxl: 4rem,
    xxxl: 3rem,
    xxl: 2rem,
    xl: 1.875rem,
    l: 1.5rem,
    m: 1.25rem,
    s: 1rem,
    xs: 0.875rem,
    xxs: 0.75rem,
    xxxs: 0.625rem,
);

// Font weights
$weight--extrabold: 900;
$weight--bold: 700;
$weight--normal: 400;
