$font--primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$breakpoints: (
    'small' '(min-width: 600px)',
    'medium' '(min-width: 1020px)',
    'large' '(min-width: 1275px)'
);

// Font sizes
$small-font-size: 15px;
$medium-font-size: 17px;
$large-font-size: 19px;

$font-sizes: (
    xxxxxl: 7rem,
    xxxxl: 4rem,
    xxxl: 2.5rem,
    xxl: 2rem,
    xl: 1.875rem,
    l: 1.5rem,
    m: 1.25rem,
    s: 1rem,
    xs: 0.875rem,
    xxs: 0.75rem,
    xxxs: 0.625rem,
);

// Font weights
$weight--extrabold: 900;
$weight--bold: 700;
$weight--normal: 400;
