.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    align-items: center;
    position: relative;
    line-height: 1.5;

    @include media-query(large) {
        justify-content: flex-end;
    }

    .copyright {
        margin-right: 0.25rem;

        @include media-query(large) {
            font-weight: bold;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        @include media-query(large) {
            flex-direction: row;
        }
    }

    .delimiter {
        display: none;

        @include media-query(large) {
            display: block;
            margin: 0 1rem;
        }
    }
}

.logo {
    transform: rotate(159.81deg);
    position: absolute;
    right: -3rem;
    bottom: -2rem;

    @include media-query(large) {
        position: relative;
        right: 0;
        bottom: 0;
    }
}
