:root {
    --color--white: #fff;
    --color--lagoon: #3beccd;
    --color--purple: #183153;

    --color--text: var(--color--white);
    --color--background: var(--color--purple);
    --color--accent: var(--color--lagoon);
    --color--link: var(--color--lagoon);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font--primary;
    background: var(--color--background);
    color: var(--color--text);
    font-size: $small-font-size;

    @include media-query(medium) {
        font-size: $medium-font-size;
    }

    @include media-query(large) {
        font-size: $large-font-size;
    }
}

a {
    color: var(--color--link);
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

li::marker {
    color: var(--color--accent);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
