.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    @include font-size(xxxxl);
    margin: 0;
    line-height: 1;
    letter-spacing: -1px;
    font-weight: $weight--extrabold;

    &__emphasis {
        color: var(--color--accent);
        font-weight: $weight--extrabold;
    }
}

.stream {
    max-width: 800px;
}

@include media-query(medium) {
    .logo {
        align-self: flex-end;
        margin-right: 1.5rem;
    }
}

.hero {
    margin-top: 4rem;
    max-width: 100%;

    @include media-query(medium) {
        display: flex;
        margin-bottom: 4rem;
    }

    &__body {
        position: relative;
        top: -60px;
        left: -5px;

        @include media-query(medium) {
            top: 0;
            left: 0;
        }
    }
}
